.tech-navbar {
  height: 65px;
  background: #0e1a28;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.tech-brand {
  color: #ffbe3d;
  font-size: 1.2rem;
  font-weight: 700;
}

.tech-user {
  color: #fff;
}
